repos:
  # -------------------------
  # Secret Scanning
  # -------------------------
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # -------------------------
  # Python SAST (Bandit)
  # -------------------------
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        args: ["-r", ".", "-ll"]

  # -------------------------
  # IaC Security (Checkov)
  # -------------------------
  - repo: https://github.com/bridgecrewio/checkov
    rev: 3.2.496
    hooks:
      - id: checkov

  # -------------------------
  # Dependency & Code Security (Snyk)
  # -------------------------
  - repo: local
    hooks:
      - id: snyk-test
        name: snyk security scan
        entry: snyk test
        language: system
        pass_filenames: false

