repos:
  # -------------------------
  # Secret Scanning
  # -------------------------
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  # -------------------------
  # Python SAST (Bandit)
  # -------------------------
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        name: bandit (python sast)
        args:
          - -r
          - app
          - --severity-level
          - medium
          - --confidence-level
          - medium
        exclude: ^(.venv|tests|docs)/
        pass_filenames: false

  # -------------------------
  # IaC Security (Checkov)
  # -------------------------
  - repo: https://github.com/bridgecrewio/checkov
    rev: 3.2.496
    hooks:
      - id: checkov

  # -------------------------
  # Dependency Security (Snyk)
  # -------------------------
  - repo: local
    hooks:
      - id: snyk-test
        name: snyk security scan
        entry: snyk test
        language: system
        pass_filenames: false

